@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

.info {
    text-align: center;
}

.result {
    display: inline-block;
}
#error_msg {
    color:red;
    font-size:13px;
    border: solid 1px red;
    padding: 5px;
    border-radius: 5px;
    max-width: 300px;
}

.popup {
    z-index: 1; 
    position: fixed; 
    top: 0; 
    left:0;
    width: 100vw; 
    height: 100vh; 
    background-color: rgba(0, 0, 0, .7);
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.close {
    font-size: 50px;
    position: absolute; 
    top: 10; 
    right: 10;
    padding: 10px; 
    cursor: pointer;
}
