{% extends "index.html" %}
{% block content %}
    <!-- write page specific html between here -->  
    {%if err%}
        <style>
            input[type=text] {
                border-bottom: solid red 1px;
                animation: transition .1s 5 forwards;
            }
            
        </style>
    {%endif%}
    <p><i></i></p>
    <div class="search">
        <fieldset style="text-align: left;border-radius: 5px;">
            <legend style="text-decoration-color: lightskyblue; text-decoration: underline;"> {{query}} </legend>
            <p style="font-size: 18px;">appears {{values|length}} times in {{title}}</p>
        </fieldset>
        <form method="POST">
            <select name="book" class="book">
                <option value="" selected>Select option</option>
                {%for chapter in data%}
                    <option value="{{chapter}}">Chapter {{chapter}}</option> 
                {%endfor%}
            </select>
        </form>
    </div>

    <div class="content">
        {%for chapter in data%}
        <div id="{{chapter}}" class="result" style="display: none;">
            <h3>Chapter {{chapter}}</h3><br><br>
            <p>
            {% for verse in data[chapter] %}
                {% if verse[2] == 1 %}
                    <u style="color: red;">[ {{verse[0]}} ]</u> {{verse[1]}}
                {% else %}
                    [ {{verse[0]}} ] {{verse[1]}}
                {% endif %}
            {%endfor%}
        </p>
        </div>
        {%endfor%}
    </div>
    <script src="{{url_for('static', filename='book.js')}}"></script>

        
{% endblock %}
